In [9]:
from IPython.display import HTML

# Youtube
display(HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/v-rIM2YvTfA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>'))

/srv/conda/envs/notebook/lib/python3.7/site-packages/IPython/core/display.py:701: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

In [1]:
#!pip3 install requests

In [2]:
import requests  
response = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')

In [3]:
response

In [4]:
response.status_code

200

In [5]:
response.text[:230]

'{\n    "Date": "2020-05-26T11:30:00+03:00",\n    "PreviousDate": "2020-05-23T11:30:00+03:00",\n    "PreviousURL": "\\/\\/www.cbr-xml-daily.ru\\/archive\\/2020\\/05\\/23\\/daily_json.js",\n    "Timestamp": "2020-05-25T23:00:00+03:00",\n    "Va'

In [6]:
currencies = response.json()
currencies

{'Date': '2020-05-26T11:30:00+03:00',
 'PreviousDate': '2020-05-23T11:30:00+03:00',
 'PreviousURL': '//www.cbr-xml-daily.ru/archive/2020/05/23/daily_json.js',
 'Timestamp': '2020-05-25T23:00:00+03:00',
 'Valute': {'AUD': {'ID': 'R01010',
   'NumCode': '036',
   'CharCode': 'AUD',
   'Nominal': 1,
   'Name': 'Австралийский доллар',
   'Value': 46.738,
   'Previous': 46.8373},
  'AZN': {'ID': 'R01020A',
   'NumCode': '944',
   'CharCode': 'AZN',
   'Nominal': 1,
   'Name': 'Азербайджанский манат',
   'Value': 42.2023,
   'Previous': 42.3698},
  'GBP': {'ID': 'R01035',
   'NumCode': '826',
   'CharCode': 'GBP',
   'Nominal': 1,
   'Name': 'Фунт стерлингов Соединенного королевства',
   'Value': 87.1326,
   'Previous': 87.5216},
  'AMD': {'ID': 'R01060',
   'NumCode': '051',
   'CharCode': 'AMD',
   'Nominal': 100,
   'Name': 'Армянских драмов',
   'Value': 14.811,
   'Previous': 14.9238},
  'BYN': {'ID': 'R01090B',
   'NumCode': '933',
   'CharCode': 'BYN',
   'Nominal': 1,
   'Name': 'Белорусский рубль',
   'Value': 29.8268,
   'Previous': 29.929},
  'BGN': {'ID': 'R01100',
   'NumCode': '975',
   'CharCode': 'BGN',
   'Nominal': 1,
   'Name': 'Болгарский лев',
   'Value': 39.9042,
   'Previous': 40.0872},
  'BRL': {'ID': 'R01115',
   'NumCode': '986',
   'CharCode': 'BRL',
   'Nominal': 1,
   'Name': 'Бразильский реал',
   'Value': 12.9373,
   'Previous': 12.9428},
  'HUF': {'ID': 'R01135',
   'NumCode': '348',
   'CharCode': 'HUF',
   'Nominal': 100,
   'Name': 'Венгерских форинтов',
   'Value': 22.2231,
   'Previous': 22.4174},
  'HKD': {'ID': 'R01200',
   'NumCode': '344',
   'CharCode': 'HKD',
   'Nominal': 10,
   'Name': 'Гонконгских долларов',
   'Value': 92.3202,
   'Previous': 92.6592},
  'DKK': {'ID': 'R01215',
   'NumCode': '208',
   'CharCode': 'DKK',
   'Nominal': 1,
   'Name': 'Датская крона',
   'Value': 10.4477,
   'Previous': 10.5133},
  'USD': {'ID': 'R01235',
   'NumCode': '840',
   'CharCode': 'USD',
   'Nominal': 1,
   'Name': 'Доллар США',
   'Value': 71.5962,
   'Previous': 71.8804},
  'EUR': {'ID': 'R01239',
   'NumCode': '978',
   'CharCode': 'EUR',
   'Nominal': 1,
   'Name': 'Евро',
   'Value': 77.8823,
   'Previous': 78.4431},
  'INR': {'ID': 'R01270',
   'NumCode': '356',
   'CharCode': 'INR',
   'Nominal': 100,
   'Name': 'Индийских рупий',
   'Value': 94.2012,
   'Previous': 94.6355},
  'KZT': {'ID': 'R01335',
   'NumCode': '398',
   'CharCode': 'KZT',
   'Nominal': 100,
   'Name': 'Казахстанских тенге',
   'Value': 17.2748,
   'Previous': 17.2702},
  'CAD': {'ID': 'R01350',
   'NumCode': '124',
   'CharCode': 'CAD',
   'Nominal': 1,
   'Name': 'Канадский доллар',
   'Value': 51.1511,
   'Previous': 51.2261},
  'KGS': {'ID': 'R01370',
   'NumCode': '417',
   'CharCode': 'KGS',
   'Nominal': 100,
   'Name': 'Киргизских сомов',
   'Value': 95.4298,
   'Previous': 95.7688},
  'CNY': {'ID': 'R01375',
   'NumCode': '156',
   'CharCode': 'CNY',
   'Nominal': 1,
   'Name': 'Китайский юань',
   'Value': 10.028,
   'Previous': 10.0636},
  'MDL': {'ID': 'R01500',
   'NumCode': '498',
   'CharCode': 'MDL',
   'Nominal': 10,
   'Name': 'Молдавских леев',
   'Value': 40.3132,
   'Previous': 40.6104},
  'NOK': {'ID': 'R01535',
   'NumCode': '578',
   'CharCode': 'NOK',
   'Nominal': 10,
   'Name': 'Норвежских крон',
   'Value': 71.3664,
   'Previous': 71.2541},
  'PLN': {'ID': 'R01565',
   'NumCode': '985',
   'CharCode': 'PLN',
   'Nominal': 1,
   'Name': 'Польский злотый',
   'Value': 17.2617,
   'Previous': 17.331},
  'RON': {'ID': 'R01585F',
   'NumCode': '946',
   'CharCode': 'RON',
   'Nominal': 1,
   'Name': 'Румынский лей',
   'Value': 16.0919,
   'Previous': 16.1918},
  'XDR': {'ID': 'R01589',
   'NumCode': '960',
   'CharCode': 'XDR',
   'Nominal': 1,
   'Name': 'СДР (специальные права заимствования)',
   'Value': 97.5047,
   'Previous': 98.1807},
  'SGD': {'ID': 'R01625',
   'NumCode': '702',
   'CharCode': 'SGD',
   'Nominal': 1,
   'Name': 'Сингапурский доллар',
   'Value': 50.1972,
   'Previous': 50.4601},
  'TJS': {'ID': 'R01670',
   'NumCode': '972',
   'CharCode': 'TJS',
   'Nominal': 10,
   'Name': 'Таджикских сомони',
   'Value': 69.7139,
   'Previous': 70.1443},
  'TRY': {'ID': 'R01700J',
   'NumCode': '949',
   'CharCode': 'TRY',
   'Nominal': 1,
   'Name': 'Турецкая лира',
   'Value': 10.5054,
   'Previous': 10.559},
  'TMT': {'ID': 'R01710A',
   'NumCode': '934',
   'CharCode': 'TMT',
   'Nominal': 1,
   'Name': 'Новый туркменский манат',
   'Value': 20.4853,
   'Previous': 20.5666},
  'UZS': {'ID': 'R01717',
   'NumCode': '860',
   'CharCode': 'UZS',
   'Nominal': 10000,
   'Name': 'Узбекских сумов',
   'Value': 70.6495,
   'Previous': 70.993},
  'UAH': {'ID': 'R01720',
   'NumCode': '980',
   'CharCode': 'UAH',
   'Nominal': 10,
   'Name': 'Украинских гривен',
   'Value': 26.6206,
   'Previous': 26.8697},
  'CZK': {'ID': 'R01760',
   'NumCode': '203',
   'CharCode': 'CZK',
   'Nominal': 10,
   'Name': 'Чешских крон',
   'Value': 28.5113,
   'Previous': 28.7729},
  'SEK': {'ID': 'R01770',
   'NumCode': '752',
   'CharCode': 'SEK',
   'Nominal': 10,
   'Name': 'Шведских крон',
   'Value': 73.9386,
   'Previous': 74.193},
  'CHF': {'ID': 'R01775',
   'NumCode': '756',
   'CharCode': 'CHF',
   'Nominal': 1,
   'Name': 'Швейцарский франк',
   'Value': 73.5905,
   'Previous': 73.9815},
  'ZAR': {'ID': 'R01810',
   'NumCode': '710',
   'CharCode': 'ZAR',
   'Nominal': 10,
   'Name': 'Южноафриканских рэндов',
   'Value': 40.586,
   'Previous': 40.2804},
  'KRW': {'ID': 'R01815',
   'NumCode': '410',
   'CharCode': 'KRW',
   'Nominal': 1000,
   'Name': 'Вон Республики Корея',
   'Value': 57.6436,
   'Previous': 57.9438},
  'JPY': {'ID': 'R01820',
   'NumCode': '392',
   'CharCode': 'JPY',
   'Nominal': 100,
   'Name': 'Японских иен',
   'Value': 66.4528,
   'Previous': 66.8748}}}

In [7]:
currencies['Valute']['USD']

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 71.5962,
 'Previous': 71.8804}

In [8]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it_new.csv')
df.head(10)

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма,col,curenc
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽",140000.0,₽
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽",130000.0,₽
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽",200000.0,₽
3,4,09.06.1989,Архитектор ПО,Java,Москва,"250 000,00 ₽",250000.0,₽
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,"172 413,00 ₽",172413.0,₽
5,6,21.08.1973,Big Data Developer,Big Data,Санкт-Петербург,"280 000,00 ₽",280000.0,₽
6,7,10.10.1991,JS Developer,JS,Москва,"129 000,00 ₽",129000.0,₽
7,8,16.08.1982,Разработчик мобильных приложений,Android,Москва,"185 000,00 ₽",185000.0,₽
8,9,16.05.1988,Инженер-программист 2 категории,.NET,Санкт-Петербург,"160 000,00 ₽",160000.0,₽
9,10,01.12.1990,Java Engineer,Java,Краков; Польша,"9 500,00 zł",9500.0,zł

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it_new.csv')
df.head(3)

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма,col,curenc
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽",140000.0,₽
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽",130000.0,₽
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽",200000.0,₽

In [18]:
s=0
k=0
for i in range(0,len(df)):
    if df.curenc[i]=='₽':
        s=s+df.col[i]
        k+=1
    if df.curenc[i]=='€': 
        s=s+df.col[i]*currencies['Valute']["EUR"]["Value"]
        k+=1
    if df.curenc[i]=='$':
        s=s+df.col[i]*currencies['Valute']["USD"]["Value"]
        k+=1

In [19]:
Mean=round(s/k,0)
Mean

197841.0